*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url(./IBM-Watson-Logo-VECTOR.png);
    background-repeat: no-repeat;
    background-position: center;

}

.start{
    width: 130px;
    height: 30px;
    background-color: black;
    position: absolute;
    left: 100px;
    top: 100px;
    

}
.start > .name1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    position: absolute;
    left: 10px;
}

.start:hover{
    background-color: rgb(34, 176, 233);
    transition: linear;

}

.name1:hover{
    color: white;
    transition: linear;
}
.end{
    width: 130px;
    height: 30px;
    background-color: black;
    position: absolute;
    right: 100px;
    top: 100px;

}
.end > .name2{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    position: absolute;
    left: 10px;
}

.end:hover{
    background-color: rgb(34, 176, 233);
    transition: linear;

}

.name2:hover{
    color: white;
    transition: linear;
}